/* FONTS */

/* fira-sans-condensed-regular - latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'),
       url('../fonts/fira-sans-condensed-v4-latin-regular.woff2') format('woff2'),
       url('../fonts/fira-sans-condensed-v4-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: local('Francois One Regular'), local('FrancoisOne-Regular'),
       url('../fonts/francois-one-v14-latin-regular.woff2') format('woff2'),
       url('../fonts/francois-one-v14-latin-regular.woff') format('woff'); 
}

body {
  font-family: 'Fira Sans Condensed', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Francois One', sans-serif;
}
